{% extends "base_sepsisrisk.html" %}
{% block title %}Sepsis Risk App{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'sepsisrisk/css/main.css' %}" rel="stylesheet">
{% endblock %}

<body>
  {% block subtitle %}
  <h6 class="card-subtitle text-muted">Please fill out the form and click <span class="badge badge-pill badge-primary" style="vertical-align: middle;">Calculate Risk</span> to view results.</h6>
  {% endblock %}
  {% block submit %}
  <button type="submit" class="btn btn-lg btn-block btn-submit" id="calculateRisk" name="calculateRisk" enabled>Submit Form</button>
  {% endblock %}
</body>
